* {
    margin: 0;
    padding: 0;
}

.video-container {
    position: relative;
    height: 100vh; /* Set the height of the video container to match the viewport height */
}

.video2,.video1 {
    width: 100%;
    height: 100%; /* Make the video fill the entire video container */
    object-fit: cover; /* Ensure the video covers the entire container */
}

.sec-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
}

.sec-one h1 {
    font-weight: bold;
}

body{
    background-color: rgba(128, 128, 128, 0.4);
}

.sec-two img{
    transition: transform 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sec-two img:hover{
    transform: scale(1.05);
}

.sec-two h2{
    transition: transform 0.4s;
}

.sec-two h2:hover{
    transform: scale(1.05);
}

.img-2{
    aspect-ratio:calc(10/4);
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.img-2{
    transition: transform 0.4s;
}

.img-2:hover{
    transform: scale(1.05);
}

.video1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
}

.video1:hover{
    transform: scale(1.05);
}